body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif; 
font-size: 14px;
font-weight:400 ;
color:#576789 ;
}

header{
padding: 15px 0 ;
border: 1px solid #ddd;
}

.container {
     overflow: hidden;
     margin: 0 auto;
     width: 90%;

 
}

.logo {
     float: left;
     width: 8%;
}
.logo img{
      width: 100%;
}

.menu {
     float: right;
     width: 50%;
    /* border: 10px solid red;*/
}

.menu ul{
     float: right;
}
.menu ul li{
     float: left;

     list-style: none;
    
}
.menu ul li a{
font-family: 'Roboto', sans-serif; 
font-size: 16px;
font-weight:400 ;
color:#576789 ;
text-decoration: none;
padding: 0 15px;
display: inline-block;
    
}

.menu ul li a:hover{
     color:#008aff ;
}
.menu ul li:last-child a{
     padding-right: 0;
}
/*banner start*/
.banner{
    padding: 50px 0;
}
.container2{
    width: 55%;
    /*border: 1px solid red;*/
    margin: 0 auto;
    text-align: center;
}
.b_h1{
    padding: 0 60px;
    font-family: sans-serif;
    font-size: 50px;
    font-weidth: 700;
    color: #0f2656;
}
.b_h1 span{
    color: #008aff;
}
.b_p{
    margin: 20px 10px;
    font-family: sans-serif;
    font-size: 17px;
    font-weidth: 400;
    color: #0f2656;
    line-height: 25px;
}
.b_img{
    margin: 0 auto;
    width: 70%;

}

.b_img img{
    width: 100%;
}
/*banner end*/
/*success start*/
.success{
    padding: 50px 0;
}
.container3{
    width: 60%;
    margin: 0 auto;
    /*border: 1px solid red;*/
    overflow: hidden;
}
.s_left{
    padding-left: 50px;
    width: 40%;
    /*border: 1px solid red;*/
    float: left;
    text-align: right;
}
.s_left h2{
    font-size: 35px;
    color: #f15767 ;
}
.s_left p{
    line-height: 20px;
    margin: 5px 0 0;

}
.s_right{
    padding-right: 50px;
    width: 40%;
    /*border: 1px solid red;*/
    float: right;
}
.s_right h1{
    font-family: sans-serif;
    font-size: 40px;
    color: #0f2656;          
}
/*success end*/
/*feature start*/
.feature{
    padding-bottom: 50px;

}
.f_single{
    float: left;
    width: 27%;
    /*border: 1px solid red;*/
    padding: 50px 2.33%;
    margin-right: 2.5%;
}
.f_single:last-child{
    margin-right: 0;
}
.f_img{}
.f_img img{
    width: 100%;
}
.f_single h2{
    margin: 20px 0;
}
.f_single p{
    margin: 0;
    font-size: 16px;
    font-weidth: 400;
    color: #0f2656;
    line-height: 25px;
}
.pink{
    background-color: #fdebed;
}
.green{
    background-color: #ebf9f4;
}
.babypink{
    background-color: #fff7e8;
}
/*feature end*/

/*footer start*/
footer{
    padding: 30px 0;
    background-color: #008aff;
}
footer p{
    text-align: center;
    margin: 0;
    color: white;
}
footer p a{
    color: white;

}
/*footer end*/